<!DOCTYPE html>
<head>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet"> 
</head>

<body style="font-family: 'Slabo 27px', serif">
<nav>
<h1>Reflasker blog</h1>
</nav>

{% for post in post_u %}
<article style='margin: 5%;border-bottom:0.8px solid #e1e1e1;padding-bottom:10px;'>
<span style="border-radius: 20px;border:2px dotted gray;padding:4px;color:gray">NEW POST</span>

<a href='{{ url_for('post', post_id=post['id']) }}'>
<h2>{{ post['title'] }}</h2>
<span class="badge badge-primary">{{ post['created'] }} </span> <p> {{ post['content'] }} </p>
</a>
</article>

{% endfor %}


<div id='old-posts' style='text-align:center'>
<span style="border-radius: 20px;border:2px dotted gray;padding:4px;color:gray;">All posts</span>

{% for post in posts %}
<a href='{{ url_for('post', post_id=post['id']) }}'><li style="list-style: none"> #{{ post['id']  }} {{ post['title']  }} </li></a>
{% endfor %}
</div>

<footer style="position:fixed;bottom:0px">
<h3>Follow</h3>
<div id='social'> 
<i class="fab fa-twitter"></i> @... | <i class="fab fa-instagram"></i> @...
<span style="float:right;font-weight:bolder" id="dt"></span>
</div>
</footer>
</body>


<script>
let date = new Date()
document.getElementById("dt").innerHTML = date.getDate()+"/"+date.getMonth()+"/"+date.getFullYear() 
</script>
</html>
